<!--

Programmer: Victoria Albanese
Filename: multiple_cameras.launch

Purpose: Launch multiple Intel RealSense 435i sensors
so that the pointclouds they generate can be visualized

-->

<launch>

    <!-- This node manages all of the incoming passthrough filter nodelets -->
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />


    <!-- This node rotates all the cameras into a global frame -->    
    <node pkg="synchronize_pointclouds" type="transformer_node" name="transformer_node" />


    <!-- This launches each of the cameras with parameters given in separate launchfiles -->
    <include file="$(find synchronize_pointclouds)/launch/camera_front.launch" />
    <include file="$(find synchronize_pointclouds)/launch/camera_back.launch"  />
    <include file="$(find synchronize_pointclouds)/launch/camera_left.launch"  />
    <include file="$(find synchronize_pointclouds)/launch/camera_right.launch" />
    <include file="$(find synchronize_pointclouds)/launch/camera_top.launch" />

  
    <!-- This launches RViz all setup to visualize them -->
    <!--
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find synchronize_pointclouds)/rviz/pointclouds.rviz" required="true" />
    -->

</launch>

